services:
  pr_postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pullrequest
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 12
      start_period: 5s

  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      pr_postgres:
        condition: service_healthy
    environment:
      CONFIG_PATH: /app/config/dev.yaml
    ports:
      - "8080:8080"

volumes:
  pg_data: